.cardHeader {
  padding: 10px 20px;
  background-color: #fff;
  text-align: left;
  box-sizing: border-box;
  border-bottom: 2px solid #A1CCC3;
  h5 {
    margin: 0;
    font-weight: 400;
    color: #16b999;
  }
}