.circleJoin {
  padding-top: 50px;
  box-sizing: border-box;
}
.search {
  ::-webkit-input-placeholder { /* WebKit browsers */
    color: #ccc;
  }
  input {
    appearance: none;
    height: 36px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    padding-left: 5px;
    box-sizing: border-box;
  }
  .searchBtn {
    display: inline-block;
    line-height: 26px;
    padding: 3px 25px;
  }
}
.resultContainer {
  height: 500px;
  overflow-y: scroll;
  box-sizing: border-box;
  padding-top: 30px;

  ul {
    list-style: none;
    padding: 0 30px;
    li {
      overflow: hidden;
      position: absolute;
      width: 80%;
      height: 100px;
      left: 50%;
      transform: translateX(-50%);
      padding-left: 50px;
      box-sizing: border-box;
      background-color: #fff;
      transition: all 1s ease-in-out;
      animation: scaleShow 0.6s ease-in-out;
      cursor: pointer;
      outline: #FFEB55;
    }
    li:hover {
      outline: 1px solid #FFEB55;
    }
  }
  span {
    display: inline-block;
    position: absolute;
  }
}

.circleNameIntro {
  padding-left: 105px;
  box-sizing: border-box;
  width: 75%;
  position: absolute;
  left: 0;
  color: #555;
  span {
    display: block;
    text-align: left;
    position: relative;
    margin-top: 3px;
  }
  span:last-child{
    margin-top: 7px;
    max-height: 66px;
  }
}

.logo {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.circleMenbers {
  width: 25%;
  right: 0;
  text-align: left;
  img {
    width: 40px;
    height: 40px;
  }
}

@keyframes scaleShow {
  from {
    opacity: 0.5;
    left: 45%;
  }
  to {
    opacity: 1;
    left: 50%;
  }
}
